body{
    margin:0 auto;
    background: no-repeat url(https://t3.ftcdn.net/jpg/01/94/65/94/360_F_194659422_JyWOx8XA8mnqFqrZvSL4ttF7fSV9bFik.jpg);
    background-size: cover;
    color: whitesmoke;
}

#title{
    margin: 15px auto;
    font-size: 2.5em;
    text-align: center;
}

#description{
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
}

label{
    display:block;
    width: 100%;
}

fieldset{
    border:none;
    border-bottom: 1px dotted whitesmoke;
    background-color: rgb(102, 133, 60);
}